@model IEnumerable<Entity.Entity.Order>

@{
    ViewBag.Title = "OrderListleme";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <form method="post">
                <div class="card-box mb-30">

                    <table class="data-table table nowrap">
                        <thead>
                            <tr>

                                <th>Description</th>
                                <th>OfferPrice</th>
                                <th>Son Güncelleme Tarihi</th>
                                <th>Aktif Durumu</th>
                                <th class="datatable-nosort">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Description</td>
                                    <td>@item.OfferPrice</td>

                                    <td>@item.LastDateTime.ToString("dd:MM:yyyy")</td>
                                    @if (item.IsActive == true)
                                    {
                                        <td><span class="badge badge-success"><i class="fa fa-check"></i> Aktif</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-danger"><i class="fa fa-remove"></i> Pasif</span></td>
                                    }
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                <i class="dw dw-more"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                @*<a class="dropdown-item" href="@Url.Action("UpdateOrder/"+item.ID,"Seller")"><i class="dw dw-edit2"></i> Güncelle</a>*@
                                                <a class="dropdown-item" onclick="return confirm('Silmek istediğinize eminmisiniz ?')" href="@Url.Action("DeleteOrder/"+item.ID,"Seller")"><i class="dw dw-delete-3"></i> Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
