@model Entity.Entity.Order

@{
    ViewBag.Title = "AddOrder";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="pd-ltr-20 xs-pd-20-10">
                <div class="min-height-200px">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">

                            </div>

                        </div>
                    </div>
                    @if (ViewBag.Mesaj != null)
                    {
                        <div class="pd-20 card-box mb-30">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <h4 class="text-blue h4">Hata Mesajı</h4>
                                </div>
                            </div>
                            <div>
                                <p>@ViewBag.Mesaj</p>
                            </div>
                        </div>
                    }
                    <div class="pd-20 card-box mb-30">

                        <!-- Buraya Form Kısmını Ekle -->
                        @using (Html.BeginForm("AddOrder", "Buyer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OfferPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        <input type="number" name="OfferPrice" class="form-control" required placeholder="OfferPrice" />
                                        @Html.ValidationMessageFor(model => model.OfferPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Description</label>
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Döviz Tipi</label>
                                    <div class="col-md-12">
                                        @Html.DropDownList("CurrencyTypeid", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CurrencyTypeid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Ürün Kategori</label>
                                    <div class="col-md-12">
                                        @Html.DropDownList("ProductCategoryID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ProductCategoryid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-12">
                                        <div class="col-md-offset-2 col-md-12">
                                            <button type="submit" class="btn btn-outline-success"><i class="fa fa-check"></i> Yeni Sipariş Ekle</button>
                                            <a href="" class="btn btn-outline-dark"><i class="fa fa-reply-all"></i> Listeye Geri Dön</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!--Form bitiş-->
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
